.app-background {
  position: relative;
  margin: auto;
  display: block;
  background-image: url(http://res.cloudinary.com/dk7wue4rl/image/upload/v1502083787/6972_qreom8.jpg);
  width: 375px;
  height: 667px;
  top: 5%;
}

.location {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 8%;
  font-family: Rajdhani;
  font-size: 200%;
  color:grey;
}

.icon {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 15%;
}

.weather {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    font-family: Rajdhani;
    font-size: 150%;
    color: grey;
}