body {
  font-family: Rajdhani;
  color: grey;
}

.app-background {
  position: relative;
  margin: auto;
  display: block;
  background-image: url(http://res.cloudinary.com/dk7wue4rl/image/upload/v1502154827/1087_gqusj6.jpg);
  width: 375px;
  height: 667px;
  top: 5%;
}

.message {
  position: relative;
  margin: auto;
  display: block;
  font-size: 300%;
  text-align: center;
  top: 30%;
}
.location {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 5%;
  font-size: 350%;
}

.icon {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 20%;
}

.weather {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 55%;
    font-size: 200%;
}

.temperature {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 20%;
  font-size: 600%;
}

.switch {
  position: absolute;
  right: 5%;
  bottom: 0;
  font-size: 200%;
}

.hidden {
  display: none;
}


